<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ambethia.com</title>
  <meta name="description" content="Ambethia.com, Jason L Perry">
  <%= stylesheet_link_tag 'home', media: 'all' %>
</head>
<body>
  <div id="container">
    <div id="ambethia">
      <%= image_tag('ambethia.png', size: '223x394', alt: 'Ambethia Logo') %>
      <ul id="social">
        <li><a title="Github" href="http://github.com/ambethia"><%= icon('github') %></a></li>
        <li><a title="Twitter" href="http://twitter.com/ambethia"><%= icon('twitter') %></a></li>
        <li><a title="Facebook" href="http://www.facebook.com/ambethia"><%= icon('facebook') %></a></li>
        <li><a title="Flickr" href="http://flickr.com/photos/ambethia"><%= icon('flickr') %></a></li>
        <li><a title="YouTube" href="https://www.youtube.com/user/ambethia"><%= icon('youtube') %></a></li>
        <li><a title="Vimeo" href="https://vimeo.com/ambethia"><%= icon('vimeo-square') %></a></li>
      </ul>
    </div>
  </div>
</body>
</html>
