<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Ambethia" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "ambethia.com" %>">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script aync src="//use.typekit.net/bwx5odo.js" onload="try{Typekit.load();}catch(e){}"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render :partial => 'layouts/header' %>
  <%= yield %>
</body>
</html>
