<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Ambethia" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "ambethia.com" %>">
  <%= stylesheet_link_tag    'public', media: 'all' %>
  <%= javascript_include_tag 'public' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
</body>
</html>
